:root{
  --color-acento: #A38E6C;
  --color-acento-claro: #B5A589;
  --color-texto: black;
}
  .tarjeta-producto{
    display: flex;
    align-items: center;
    height: 100px;
    max-width: 500px;
    margin: auto;
    
  }
  
  .tarjeta-producto img{
    height: 100%;
  }
  
  .tarjeta-producto h3{
    width: 130px;
  }
  .tarjeta-producto div{
    background-color: var(--color-acento);
    padding: 3px;
    border-radius: 5px;
  }
  
  #totales{
    text-align: center;
  }
  
  #carrito-vacio{
    text-align: center;
  }