:root{
    --color-acento: #A38E6C;
    --color-acento-claro: #B5A589;
    --color-texto: black;
  }
  
  body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#958872;
  }
  
  h3, p{
    margin: 5px;
  }
  
  .escondido{
    display: none;
  }
  
  a{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-decoration: none;
    transition: 200ms;
    color: var(--color-texto);
  }
  
#boton{
  background-color:#1a1b1c;
  color: var(--color-acento);
}
  
 
  
  /* Header */
  header{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
    font-size: larger;
  }
  
  header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 ;
    background-color:#1a1b1c;
  }
  
  #logo{
    height: 40px;
    margin: 20px 60px ;
  
  }
  
  header nav div{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 60px;
  
  }
  
  header nav div a{
    color: var(--color-acento);
  }
  
  header nav div a:hover{
    color: white;
  }
  
  
  header nav  img{
    height: 25px;
    
  }

  #cuenta-carrito{
    position: absolute;
    background-color: rgb(222, 30, 30);
    border-radius: 100%;
    display: inline-block;
    height: 21px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    color: rgb(2, 2, 2); 
  }
  #productos-container{
    margin-bottom: 20px;
  }
  
  footer{
    text-align: center;
    padding-top: 2px;
    margin-top: auto;
  }
  
  footer a{
    text-decoration: underline;
  }

  /*Footer */
.material-symbols-outlined{
  color:#B5A589;
}
.pie-pagina{
  width: 100%;
  background-color:#1a1b1c;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
  
}

.pie-pagina .grupo-1 .box figure img{
  width: 100px;
  
}
.pie-pagina .grupo-1 .box h2{
  color:#A38E6C;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color:#958872;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color:#000000;
  margin-right: 10px;
  background-color:#958872;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 50%;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(255, 119, 0);
}
.pie-pagina .grupo-2{
  background-color: #958872;
  padding: 15px 10px;
  text-align: center;
  color:#1a1b1c;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}


/*media del footer */
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}